

<h2 id="user_title" data-id="<%= current_user._id %>">Hello, <%= current_user.first_name %> </h2>



<div id="unreads">
    
</div>

<div>
    <h4>Channels</h4>
    <ul id="channels">
        <% for (channel of channels) { %> 
            <li id="channel_li_<%= channel._id %>">
                <a href="/channels/<%= channel._id %>" class="btn btn-secondary">
                    <%= channel.name %>
                </a>
            </li>
        <% } %> 
    </ul>
    <button 
        class="btn btn-primary" 
        data-bs-toggle="modal" 
        data-bs-target="#add_channel_modal">
        Add channels
    </button>
</div>

<div>
    <h4>Direct messages</h4>
    <ul id="direct_messages">
        <% for (dm of dms) { %> 
            <li>   
                <a href="/direct-messages/<%= dm._id %>" class="btn btn-secondary">
                    <% for (user of dm.subscribers) { %>
                        <% if (user.username != current_user.username) { %>
                            <span class="dm_username">
                                <%= user.username %>
                            </span>
                        <% } %>  
                    <% } %>    
                </a>
            </li>
        <% } %> 
    </ul>
    <button 
        class="btn btn-primary" 
        data-bs-toggle="modal" 
        data-bs-target="#start_dm_modal">
        New DM
    </button>
</div>

<div class="modal" id="start_dm_modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Start new direct message</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h5>Choose your team mates for the chat!</h5>
            <form action="/channels/add" method="post">
                <ul>
                    <% for (user of users) {%> 
                        <% if (JSON.stringify(user._id) != JSON.stringify(current_user._id)) { %> 
                            <li>
                                <input 
                                    name="dm_user" 
                                    type="checkbox" 
                                    value="<%= user._id %>"
                                >
                                <label for="<%= user._id %>">
                                    <%= user.username %>
                                </label>
                            </li>
                        <% } %> 
                    <% } %>
                </ul>
            </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="startDirectMessage()">Start DM</button>
            </div>
        </div>
    </div>
  </div>



<div class="modal" id="add_channel_modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Create a channel</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <h3>Channels are where your team communicates. They’re best when organized around a topic — #marketing, for example.</h3>
            <form action="/channels/add" method="post">
                <div class="mb-3">
                    <label for="channel_name" class="form-label">Name</label>
                    <input
                        type="text"
                        class="form-control"
                        id="channel_name"
                        placeholder="# e.g. plan-budget"
                        required
                    />
                </div>
    
                <div class="mb-3">
                    <label for="channel_description" class="form-label">Descriprion (optional)</label>
                    <input
                        type="text"
                        class="form-control"
                        id="channel_description"
                        aria-describedby="descriptionHelp"
                    />
                    <div id="descriptionHelp" class="form-text">
                        What's this channel about?
                    </div>
                </div>

                <div class="mb-3">
                    <label for="private" class="form-label">Make this a private channel </label>
                    <input
                        type="checkbox"
                        id="private"
                        aria-describedby="privateHelp"
                    />
                    <div id="privateHelp" class="form-text">
                        Team mates will be able to join by invites.
                    </div>
                </div>
            </form>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="createChannel()">Create</button>
            </div>
        </div>
    </div>
  </div>



<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
crossorigin="anonymous"
></script>
