<h1><%= user.first_name %> <%= user.last_name %></h1>
<div id="profile_pic" data-id="<%= user._id %> ">
    <img src="/public/images/profile/<%= user.profile_pic %>" alt="<%= user.username %>'s profile picture.">
</div>
<% if (session_user == user._id) {%> 
    <button id="image_btn" class="btn btn-primary">Upload new image</button>
<% } %> 

<h5>Title: <%= user.title %> </h5>
<h5>Registered: <%= user.date_registered %> </h5>
<h5>Display name: <%= user.username %></h5>
<h5>Last online: <%= user.last_online %> </h5>
<h5>Phone number: <%= user.phone %> </h5>
<h5>Email address: <%= user.email %> </h5>

<% if (session_user == user._id) {%> 
    <% if (invites.length > 0) {%> 
        Invites to channels:
        <% for (invite of invites) { %>
            <div>
                <p><%= invite.channel %> </p>
                <p>Invited by: <%= invite.invited_by %> </p>
                <button class="btn btn-primary">Accept</button>
            </div>
        <% } %>  
    <% } %> 
    <button class="btn btn-primary">Edit profile</button>
<% } %> 